body {
  font-family: monospace;
  margin-top: 15px;
  align-items: center;
  background: linear-gradient(247deg,#a8d383,#fc558c,#e6d848,#ef5c4a,#68837a);
  background-size: 300% 300%;
  animation: gradient-animation 25s ease infinite;
}

@keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.stopwatch-app h1 {
  text-align: center;
  font-size: 35px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 9%, 54%);
  border: hsl(0, 25%, 43%);
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 25px;
}

.controls button {
  width: 150px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.start-button {
  background-color: hsl(115, 100%, 40%);
}

.start-button :hover{
  background-color: hsla(115, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}

.stop-button :hover{
  background-color: hsl(10, 90%, 45%);
}

.lap-button {
  background-color: hsl(205, 90%, 60%);
}

.lap-button {
  background-color: hsl(205, 90%, 50%);
}

.reset-button {
  background-color: hsl(39, 100%, 60%);
}

.reset-button :hover{
  background-color: hsl(39, 100%, 50%);
}



.lap-data {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.lap-data ul{
  border: hsl(0deg 60.05% 8.14%);
  border-style: solid;
  border-radius: 35px;
  margin: 6px 0px !important;
}

.lapList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  border: 1px solid #999;
  padding: 10px;
}

.lapList h2,
.lapList p,
.lapList span {
  margin: 0;
  padding: 0 10px;
}

.lapList span {
  cursor: pointer;
}